.tachado-si {
  text-decoration: line-through;
}
.tachado-no {
  text-decoration: none;
}

.boton-delete {
  background-color: red;
  border: 1px solid #ff6565;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 20.2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.boton-delete:hover {
  background-color: rgb(255, 98, 0);
}

.boton-check {
  background-color: greenyellow;
  border: 1px solid #bbf663;
  border-radius: 3px;
  cursor:pointer;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 0;
  height: 20.2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.boton-check:hover {
  background-color: green;
}

body {
  background-color: #101010;
  color: white;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.div-tarea {
  display: flex;
  align-items: center;
  margin: 5px;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
}

.div-app {
  background-color: rgb(151, 0, 252);
  border: 2px white solid;
  width: 100%;
  padding: 30px 40px;
  border-radius: 4px;
}

.div-tarea {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 50%;
  outline: none;
  border: 1.7px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  caret-color: blue;
}

.boton-agregar {
  background-color: green;
  color: white;
  outline: none !important;
  border: 1px solid greenyellow;
  border-radius: 3px;
  cursor:pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.boton-agregar:hover{
  background-color: greenyellow;
  border-color: green;
  color: black;
}

.boton-agregar:active{
  background-color: greenyellow;
  border-color: green;
  color: black;
}

.section {
  display: flex;
  justify-content: center;
}
